<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TH True Clothes</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../styles/responsive.css" />
    <link rel="stylesheet" href="../styles/index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script src="../scripts/loader.js"></script>

    <!-- navbar -->
    <nav
      class="navbar navbar-expand-md navbar-light justify-content-between fixed-top px-5"
      id="nav"
    >
      <a
        class="navbar-brand"
        href="#"
        style="display: flex; align-items: center"
      >
        <img
          src="../images/logo.png"
          width="50"
          height="50"
          class="d-inline-block align-top"
          alt="logo"
        />
        <span> TH True Clothes </span>
      </a>
      <div class="d-flex justify-content-center align-items-center gap-3">
        <li style="position: relative">
          <a class="nav-link cart-res" href="./Cart.html" style="display: none"
            ><i class="fa-solid fa-cart-shopping"></i
          ></a>
        </li>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto gap-3">
          <li class="nav-item">
            <a class="nav-link" href="#">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./Shop.html">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./Blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./About.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./Contact.html">Contact</a>
          </li>
          <li class="nav-item cart">
            <a class="nav-link cart-nav" href="./Cart.html"
              ><i class="fa-solid fa-cart-shopping"></i
            ></a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end navbar -->

    <!-- carousel -->
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <section
            id="header"
            style="
              margin-top: 70px;
              background-image: url(../images/header.png);
            "
          >
            <h4>Trade-in-offer</h4>
            <h2>Super value deals</h2>
            <h1>On all products</h1>
            <p>Save more with coupons &amp; up to 70% off!</p>
            <button>Shop Now</button>
          </section>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <section
            id="header"
            style="
              margin-top: 70px;
              background-image: url(../images/carousel2.png);
              background-size: contain;
              background-repeat: no-repeat;
              background-color: #e3e6f3;
            "
          >
            <h4>Trade-in-offer</h4>
            <h2>VERSACE</h2>
            <h1>Leather Chunky Boots</h1>
            <p>Save more with coupons &amp; up to 70% off!</p>
            <button>Shop Now</button>
          </section>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <section
            id="header"
            style="
              margin-top: 70px;
              background-image: url(../images/carousel3.png);
              background-size: contain;
              background-repeat: no-repeat;
              background-color: #e3e6f3;
            "
          >
            <h4>Trade-in-offer</h4>
            <h2>GRANNI</h2>
            <h1>Stripe Wrap Dress</h1>
            <p>Save more with coupons &amp; up to 70% off!</p>
            <button>Shop Now</button>
          </section>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- end carousel -->

    <main>
      <section class="container">
        <!-- feature-box -->
        <div class="feature-box row" style="padding-bottom: 40px">
          <div class="box col-lg-3 col-sm-5">
            <img src="../images/f1.png" alt="f1" />
            <h6 style="background-color: #fddde4">Free Shipping</h6>
          </div>
          <div class="box col-lg-3 col-sm-5">
            <img src="../images/f2.png" alt="f1" />
            <h6 style="background-color: #cdebbc">Online Order</h6>
          </div>
          <div class="box col-lg-3 col-sm-5">
            <img src="../images/f3.png" alt="f1" />
            <h6 style="background-color: #d1e8f2">Save Money</h6>
          </div>
          <div class="box col-lg-3 col-sm-5">
            <img src="../images/f4.png" alt="f1" />
            <h6 style="background-color: #cdd4f8">Promotions</h6>
          </div>
          <div class="box col-lg-3 col-sm-5">
            <img src="../images/f5.png" alt="f1" />
            <h6 style="background-color: #f6dbf6">Happy Sell</h6>
          </div>
          <div class="box col-lg-3 col-sm-5">
            <img src="../images/f6.png" alt="f1" />
            <h6 style="background-color: #fff2e5">24/7 Support</h6>
          </div>
        </div>
        <!-- end feature box -->
        <!-- featured products -->
        <div class="featured-products">
          <h2>Featured Products</h2>
          <p>Summer Collection New Morden Design</p>
          <div class="product-container">
            <!-- product card -->
            <!-- <div class="product-card">
              <div class="img-container">
                <img src="../images/p1.png" alt="" class="hover-img" />
              </div>
              <div class="des">
                <h5
                  class="truncate"
                  title="Manfinity Men Random Bird & Floral Print Shirt"
                >
                  Manfinity Men Random Bird & Floral Print Shirt
                </h5>
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <h4>$99</h4>
                <a href="./Cart.html"
                  ><i class="fa-solid fa-shopping-cart cart"></i
                ></a>
              </div>
            </div> -->
            <!-- end product card -->
          </div>
        </div>
        <!-- end featured products -->
      </section>
      <!-- end main top-->
      <!-- banner -->
      <section id="banner" style="padding: 40px 80px">
        <h4>Repair Service</h4>
        <h2>Up to<span> 70% Off </span> - All t-Shirts &amp; Accessories</h2>
        <a href="./Shop.html"><button class="normal">Explore More</button></a>
      </section>
      <!-- end banner -->
      <!-- main 2 -->
      <section class="container">
        <!-- new product -->
        <section class="featured-products">
          <h2>New Arrivals</h2>
          <p>Summer Collection New Morden Design</p>
          <div class="product-container newsarrival">
            <!-- product card -->
            <!-- <div class="product-card">
              <div class="img-container">
                <img src="../images/fp1.jpg" alt="" class="hover-img" />
              </div>
              <div class="des">
                <h5
                  class="truncate"
                  title="Manfinity Men Random Bird & Floral Print Shirt"
                >
                  Manfinity Men Random Bird & Floral Print Shirt
                </h5>
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <h4>$99</h4>
                <a href="./Cart.html"
                  ><i class="fa-solid fa-shopping-cart cart"></i
                ></a>
              </div>
            </div> -->
            <!-- end product card -->
          </div>
        </section>
        <!-- end new product -->
        <!-- small banner -->
        <section class="sm-banner">
          <!-- banner box -->
          <div class="banner-box">
            <h4>crazy deals</h4>
            <h2>buy 1 get 1 free</h2>
            <p>The best classic dress on sale at cara</p>
            <a href="./Shop.html"><button class="white">Learn More</button></a>
          </div>
          <!-- end banner box -->
          <div class="banner-box banner-box2">
            <h4>spring/summer</h4>
            <h2>upcomming season</h2>
            <p>The best classic dress on sale at cara</p>
            <a href="./Shop.html"><button class="white">Collection</button></a>
          </div>
        </section>
        <!-- end small banner -->
        <!-- banner bottom -->
        <section id="banner3">
          <div class="banner-box">
            <h2>SEASONAL SALE</h2>
            <h3>Winter Collection -50% Off</h3>
          </div>
          <div class="banner-box banner-box3">
            <h2>SEASONAL SALE</h2>
            <h3>Winter Collection -50% Off</h3>
          </div>
          <div class="banner-box banner-box4">
            <h2>SEASONAL SALE</h2>
            <h3>Winter Collection -50% Off</h3>
          </div>
        </section>
        <!-- end banner bottom -->
      </section>
      <!-- end main 2 -->
      <!-- newsletter -->
      <section id="newsletter" class="section-m1" style="padding: 40px 80px">
        <div class="newstext">
          <h4>Sign Up For Newsletters</h4>
          <p>
            Get E-mail updates about our latest shop and
            <span> special offers.</span>
          </p>
        </div>
        <div class="form">
          <input type="text" placeholder="Your email address" />
          <button class="normal">Sign Up</button>
        </div>
      </section>
      <!-- end newsletter -->
      <!-- scroll to top btn -->
      <button id="scrollToTopBtn" title="Go to top">
        <i class="fa-solid fa-arrow-up"></i>
      </button>
      <!-- end scroll to top btn -->
    </main>

    <footer id="footer" style="padding: 40px 80px">
      <div class="column">
        <img
          class="logo"
          src="../images/logo.png"
          alt="logo"
          width="140px"
          height="140px"
        />
        <h4>Contact</h4>
        <p><strong>Address:</strong>180 Cao Lo TP.HCM</p>
        <p><strong>Phone:</strong>(028) 38 505 520</p>
        <p><strong>Hours:</strong>7am-5pm, Mon-Sat</p>
        <h4>Follow Us</h4>
        <div class="follow">
          <a
            href="https://www.facebook.com/profile.php?id=100037784133388&locale=vi_VN"
          >
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCASjWgnKp5i0YlU70foCAIA">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </div>
      </div>
      <div class="column">
        <h4>About</h4>
        <a href="./About.html">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms $ Conditions</a>
        <a href="./Contact.html">Contact Us</a>
      </div>
      <div class="column">
        <h4>My Account</h4>
        <a href="#">Sign in</a>
        <a href="./Cart.html">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="./Cart.html">Track My Order</a>
        <a href="#">Help</a>
      </div>
      <div class="column install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row-custom">
          <a
            href="https://apps.apple.com/vn/app/lazada-ch%E1%BB%8Dn-h%C3%A0ng-%C4%91%C3%BAng-ch%E1%BA%A5t/id785385147?l=vi"
          >
            <img src="../images/apple.jpg" alt="" />
          </a>

          <a
            href="https://play.google.com/store/apps/details?id=com.lazada.android&hl=vi&gl=US"
          >
            <img src="../images/ggplay.jpg" alt="" />
          </a>
        </div>
        <p>Secured Payment Gateways</p>
        <img src="../images/pay.png" alt="" />
      </div>
      <div class="copyright">
        <p>© Copyright 2024 Huynh Tich Hai DH52110854 D21_TH07</p>
      </div>
    </footer>
    <!-- floating buttons -->
    <div id="floating-btn">
      <!-- facebook -->
      <div class="contact-btn">
        <div class="outter-circle facebook-circle"></div>
        <div class="inner-circle facebook-inner-circle">
          <a
            target="_blank"
            href="https://www.facebook.com/profile.php?id=100037784133388&locale=vi_VN"
          >
            <img
              alt="facebook"
              src="../images/facebook.png"
              class="facebook-custom-width"
            />
          </a>
        </div>
      </div>
      <!-- end facebook -->
      <!-- messenger -->
      <div class="contact-btn">
        <div class="outter-circle messenger-circle"></div>
        <div class="inner-circle messenger-inner-circle">
          <a
            target="_blank"
            href="https://www.messenger.com/e2ee/t/6899791446753325"
          >
            <img
              alt="messenger"
              src="../images/messenger.png"
              class="messenger-custom-width"
            />
          </a>
        </div>
      </div>
      <!-- end messenger -->
      <!-- zalo -->
      <div class="contact-btn">
        <div class="outter-circle zalo-circle"></div>
        <div class="inner-circle zalo-inner-circle">
          <a target="_blank" href="https://zalo.me/0915516490">
            <img alt="zalo" src="../images/zalo.png" />
          </a>
        </div>
      </div>
      <!-- end zalo -->
      <!-- phone -->
      <div class="contact-btn">
        <div class="outter-circle phone-circle"></div>
        <div class="inner-circle phone-inner-circle">
          <a href="tel:02838505520">
            <img alt="phone" src="../images/phone.png" />
          </a>
        </div>
      </div>
      <!-- end phone -->
    </div>
    <!-- end floating buttons -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/index.js"></script>
    <script src="../scripts/dataProduct.js"></script>
  </body>
</html>
